h1.my-color {
    color: var(--bs-white);
    background-color: var(--bs-pink);
}

h1.text-info {
    color: var(--bs-green) !important;
}

.img-coluna {
    width: 100%;       /* Obriga a imagem a ocupar toda a largura da col-4 */
    height: 300px;     /* Define uma altura fixa para todas ficarem iguais */
    object-fit: cover; /* O SEGREDO: corta as sobras sem esticar a imagem */
    display: block;    /* Remove espaços vazios abaixo da imagem */
}